@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.contents{
    width: 45%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
    margin-top: 13%;
}
.image-1{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
}
.image-1 img{
     width: 100%;
}
.text-1{
    font-size:40px;
}
.text-2{
    font-size: 50px;
    font-weight: 500;
    margin-left: 3%;
    color: #Ec4c7a;
    margin-bottom: 7%;
}
p{
    color: dimgray;
    padding: 2%;
}
.btn{
    text-decoration: none;
    color: white;
    background: #Ec4c7a;
    padding: 5px 16px;
    border-radius: 3px;
    margin-left: 2%;
    margin-top: 2%;
}
section{
    height: 500px;
    padding-bottom: 100px;
    margin-top: 5%;
}
.text-3{
    margin-left: 2%;
    font-weight: 600;
    font-size: 40px;
}
.btn-2{
    text-decoration: none;
    color: white;
    background: #Ec4c7a;
    padding: 5px 16px;
    border-radius: 3px;
    margin-left: 5%;
    margin-top: 2%;
}
.dream{
    background-image: url(/img/biography-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.top-banner{
    background-image: url(/img/header-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.work_img{
    width:27% ;
    display:flex;
    margin-left:13%;
    margin-top: 5%;
}
.work_img img{
    width: 100%;
    
}
.work{
    margin-top: 15%;
}

.text-4{
    text-align: center;
    font-weight: 600;
    font-size: 35px;
   
}
.review{
    text-align: center;
    width: 100%;
}
.text-5{
    font-size: 42px;
    font-weight: 500;
}
.text-7{
    color: dimgray;
}
.text-8{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.message{
    background-color: #Ec4c7a;
    width: 500px;
    margin-left: 25%;
    padding: 7px 100px;
    color: white;
    border-radius: 10px;
}
.message p{
    color: white;
    font-weight: 200;
}
.message h1{
    font-weight: 500;
}
footer{
    text-align: center;
}
footer p{
    font-weight: 300;
}